/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(130, 230, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: center;
}

.game-container h2 {
    margin: 20px 0 40px 0;
    display: flex;
}
.game-container h2 span{
    margin: 0px 20px ;
}

.game-container h2 div {
    margin: 0px 20px;
}
.turn {
    display: flex;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
}
.winner{
    display: flex;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vh;
    height: 50vh;
    gap: 5%;
    background: url(board.png);
    background-repeat: no-repeat ;
    background-size: cover;
    
}

.coin {
    margin: 10%;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.1);
}

.coin:hover {
    transform: scale(1.01);
    border: 1px solid black;
}

button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

button:hover {
    filter: drop-shadow(0px 0px 1px white);
    transform: scale(1.05);
}

#play_against{
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

#play_against option{

    background: black;
    color: white;

}